<div>
    <mat-form-field>
        <mat-label>Nombre: </mat-label>
        <input type="text" matInput required>
        <mat-icon matIconPrefix>person</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Edad: </mat-label>
        <input type="number" matInput required>
        <mat-icon matIconPrefix>looks_two</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña: </mat-label>
        <input type="password" matInput required>
        <mat-icon matIconPrefix>lock</mat-icon>
    </mat-form-field>
</div>




